<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar película" [value]="textBuscar" animated
        (ionChange)="buscarPelicula($event)" [debounce]="700"></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="buscando" fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-list *ngIf="peliculas.length === 0">
    <ion-list-header>
      <ion-label>Sugerencias</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let sugerencia of sugerencias">
      <ion-label color="primary" (click)="sugerir(sugerencia)">{{ sugerencia }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="peliculas" fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let pelicula of peliculas">
        <ion-card (click)="verDetalle(pelicula.id)">
          <img *ngIf="pelicula.poster_path" [src]="pelicula.poster_path | imagen">
          <img *ngIf="!pelicula.poster_path" [src]="pelicula.poster_path | imagen">
          <div style="padding: 10px;">
            <ion-label>{{ pelicula.title }}</ion-label>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
